---
import authorImage from "../images/fotoSaya.jpg";
import Badge from "../components/Badge.astro";
import { slugify } from "../js/utils.js";

const { posts, url } = Astro.props;
---

<div
 class="rounded-3xl dark:bg-surface-variant-dark bg-surface-variant-light dark:text-on-surface-variant-dark text-on-surface-variant-light border border-outline-light dark:border-outline-dark overflow-hidden"
>
 <div class="ms-4 mt-2 absolute">
  <Badge
   link={`/category/${slugify(posts.category)}`}
   text={posts.category}
   className="capitalize"
   btnClass="text-xs"
  />
 </div>
 <a
  href={url}
  class="flex flex-col dark:hover:bg-inverse-primary-dark hover:bg-inverse-primary-light duration-500"
 >
  <div
   class="thumbnail-container h-48 w-full bg-center bg-cover rounded-3xl"
   style=`background-image: url(${posts.image.src});`
  >
  </div>
  <div class="p-4">
   <span class="font-semibold text-xl"> {posts.title}</span>
   <div class="flex justify-between mt-2 items-center">
    <div class="flex items-center">
     <img src={authorImage.src} alt="" class="bg-cover w-6 rounded-full mr-2" />
     <h5 class="text-xs">{posts.author}</h5>
    </div>
    <h5 class="text-xs">
     {
      new Date(posts.date).toLocaleDateString("id-ID", {
       weekday: "long",
       year: "numeric",
       month: "long",
       day: "numeric",
      })
     }
    </h5>
   </div>
  </div>
 </a>
</div>
