---
// layout import
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "./MainLayout.astro";
import Badge from "../components/Badge.astro";
import TOC from "../components/TOC.astro";
import RelatedPosts from "../components/RelatedPosts.astro";
import { slugify } from "../js/utils.js";

// styles
import "../styles/global.css";

// utils
import { formatDate, formatBlogPosts } from "../js/utils.js";

// props
const { frontmatter } = Astro.props;
const date = formatDate(frontmatter.date);
const { title, description, author, image, category } = frontmatter;

const allPosts = await Astro.glob("../pages/blog/*.{md,mdx}");
const formattedPosts = formatBlogPosts(allPosts, { sortByDate: false });
const relatedPosts = formattedPosts
 .filter(
  (post) =>
   post.frontmatter.category === category && post.frontmatter.title !== title
 )
 .slice(0, 3);
---

<Layout
 {title}
 {description}
 image={frontmatter.image}
 {image}
 {frontmatter}
 robots={frontmatter.robots}
>
 <div
  class="w-full max-[280px]:max-w-[280px] max-w-[320px] sm:max-w-sm md:max-w-full mx-auto"
 >
  <Header {title} {author} {date} coverPhoto={image.src} {slugify(category)} />
 </div>
 <div class="md:flex md:flex-row-reverse md:mx-2">
  <section
   class="p-2 basis-2/5 max-[280px]:max-w-[280px] max-w-[320px] sm:max-w-sm md:max-w-sm lg:max-w-lg xl:max-w-3xl 2xl:max-w-4xl md:ps-6 mx-auto"
  >
   <section>
    <Badge
     link={`/category/${slugify(category)}`}
     text={category}
     className="capitalize"
     btnClass="text-xs"
    />
   </section>
   <TOC />
  </section>
  <article
  id="main-article"
   class="basis-3/5 p-2 max-[280px]:max-w-[280px] max-w-[320px] sm:max-w-sm md:max-w-sm lg:max-w-lg xl:max-w-2xl 2xl:max-w-4xl mx-auto"
  >
   <slot />
   <div class="md:max-w-2xl max-w-sm mx-auto py-4">
    <hr
     class="bg-inverse-surface-light h-[1px] border-none dark:bg-inverse-surface-dark"
    />
   </div>
   <section class="giscus p-2 rounded-xl bg-surface-variant-dark"></section>
   {
    relatedPosts.length > 0 && (
     <aside class="mb-4">
      <RelatedPosts {relatedPosts} />
     </aside>
    )
   }
  </article>
 </div>
 <Footer />
</Layout>

<script type="module">
 document
  .querySelector("nav a .material-symbols-rounded")
  .classList.add("active");
 document.querySelector("nav a .peer").classList.add("font-bold");
</script>

<script
 src="https://giscus.app/client.js"
 data-repo="aldimaull/aldimaulana-blog"
 data-repo-id="R_kgDOKBaXVQ"
 data-category="General"
 data-category-id="DIC_kwDOKBaXVc4CYS99"
 data-mapping="og:title"
 data-strict="0"
 data-reactions-enabled="1"
 data-emit-metadata="0"
 data-input-position="top"
 data-theme="preferred_color_scheme"
 data-lang="en"
 data-loading="lazy"
 crossorigin="anonymous"
 async></script>
